<div class="container">
  <div class="container__box" *ngIf="title === 'Artistes dans votre département'">
      <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item
          [routerLink]="['/']">
            <mat-icon>home</mat-icon>
            <span>Accueil</span>
          </button>
          <button mat-menu-item disabled>
            <mat-icon>send</mat-icon>
            <span>Evenements</span>
          </button>
          <button mat-menu-item>
            <mat-icon>group</mat-icon>
            <span>Contacts</span>
          </button>
        </mat-menu>
  </div>
  <h1>{{title}}</h1>
  <div class="container__box">
    <div *ngIf="isLogged() === false">
      <a class="container__text" href=""
      [routerLink]="['/login']">Se connecter</a>
      <p class="container__separator">|</p>
      <a class="container__text" href=""
      [routerLink]="['/signin']">S'inscrire</a>
    </div>
    <div class="container__text" *ngIf="isLogged() === true">
      <p> Vous êtes connecté !</p>
    </div>
  </div>
  <div class="container__box" *ngIf="title === 'Artistes dans votre département'">
      <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item
          [routerLink]="['/home']">
            <mat-icon>music_note</mat-icon>
            <span>Artistes</span>
          </button>
          <button mat-menu-item disabled>
            <mat-icon>settings</mat-icon>
            <span>Profil</span>
          </button>
          <button mat-menu-item
          [routerLink]="['/']">
            <mat-icon>logout</mat-icon>
            <span>Deconnexion</span>
          </button>
        </mat-menu>
  </div>
</div>
