.container{
    margin:0;
    padding:0;
    background-color: #4a4a4a;
}
.container h1{
    color:white;
    text-align: center;
    padding-top:20px;
}
a{
    padding-right:10px;
    color:white;
    text-decoration:none;
}
.connection{
    text-align: right;
}