<div class="flex-container">
  <div class="container__card" *ngFor="let artist of artists$ | async">
      <img src="../../assets/img/guitar.jpg" alt="{{artist.artistName}}">
    <div class="card__informations">
      <h4>{{artist.artistName | uppercase}}</h4>
      <p>{{artist.shortDescription}}</p>
      <div class="container__buttons">
        <button mat-menu-item class="test"
        routerLink="/artists/{{artist.id}}">
          <mat-icon>visibility</mat-icon>
          <span>Voir</span>
        </button>
        <button mat-menu-item>
          <mat-icon>calendar_today</mat-icon>
          <span>Booker</span>
        </button>
      </div>
    </div>
  </div>
</div>