sudo: required
dist: trusty

addons:
  apt:
    sources:
    - google-chrome
    packages:
    - google-chrome-stable
  sonarcloud:
    organization: bewizyu-formation
    token:
      secure: $SONAR_CLOUD_TOKEN
    branches:
    - master

language: node_js
node_js:
  - "10"

branches:
  only:
  - master

install:
  - npm install

before_script:
- export DISPLAY=:99.0
- sh -e /etc/init.d/xvfb start

script:
  - npm run lint
  - npm run ci:test
  - npm run e2e
  - sonar-scanner
  - npm run build -- --aot --prod --build-optimizer --base-href /project-private-showcase-front/

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  local_dir: dist/private-showcase
  on:
    branch: master
