<div class="container">
  <!-- <img src="../../assets/img/guitar-1853661_1920.jpg"> -->
  <div class="container__photo"></div>
  <div class="container__content">
    <div class="container__description">
      <p>
        Private ShowCase est une plateforme web permettant la mise en relation de musiciens avec des
        particuliers qui souhaitent organiser des concerts chez eux.
      </p>
      <p>Les spectateurs sont directement invités par l'organisateur, une participation pourra être demandée pour le cachet des artistes.</p>
    </div>
    <div class="container__informations">
      <div class="container__card">
        <img src="../../assets/img/guitar.jpg">
        <h2>Musiciens</h2>
        <p>Proposez des concerts privés</p>
      </div>
      <div class="container__card">
          <img src="../../assets/img/concert.jpg">
          <h2>Spectateurs</h2>
          <p>Vivez une expérience unique</p>
      </div>
      <div class="container__card">
          <img src="../../assets/img/board.jpg">
          <h2>Organisateurs</h2>
          <p>Partagez vos coup de coeurs</p>
      </div>
    </div>
  </div>
</div>
